

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ccfbf1;
}

h1, h2, h3 {
  font-family: 'Merienda', cursive;
  font-size: 2em;
  line-height: 1.5;
  font-weight: 900;
}

button {
  border-radius: 10px;
  border: 4px solid transparent;
  padding: 0.6em 1.7em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #99f6e4;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ec2727;
  }
  button {
    background-color: #f9f9f9;
  }
}
