


@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap&family=Nunito+Sans:ital,wght@0,400;1,700&display=swap');

.user-menu-container {
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-weight: 900;
  background-color: #ccfbf1;
 
}

.menu-item-hover:hover {
  transform: scale(1.05); /* Increase the size of the button by 5% when hovered */
  transition: transform 0.3s ease-in-out; /* Smooth the size change over 0.3 seconds */
}

.arrow-icon-container {
  position: absolute;
  top: 15px;
  right: 30px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.arrow-icon-container.checked {
  transform: rotate(180deg);
}

.order-summary-button {
  background-color: #ccfbf1;
  border: 4px;
}

.menu-title {
  font-family: 'Merienda', cursive;
  font-size: 2em;
  line-height: 1.5;
  font-weight: 900;
  color: #213547;
}